<%- include('./partials/header') %>
<h1 class="detail-pages_title">Taille du deck : <%= locals.deck.length %> / 6</h1>
<div class="pokemon-case">
    <% for (const pokemon of pokemons) { %>
        <div class="pokemons">
        <a href="/detailpokemon/<%= pokemon.id %>">
            <img class="pokemons-img" src="/img/<%= pokemon.id %>.png" alt="pokemons img">
            <h4 class="h5">#<%= pokemon.id %> <%= pokemon.nom %></h4>
        </a>
        <a class="link--removeCard" title="Supprimer du deck" href="/deck/remove/<%=pokemon.id %>">[ - ]</a>
        </div>
    <% } %>

</div>
            
<%- include('./partials/footer') %>