<%- include('./partials/header') %>
    <h1 id="detail-pokemon_title">Details de <%= foundPokemon.nom %></h1>
    <div id="detail-pokemon">
        <img class="detail-pokemons_img" src="/img/<%= foundPokemon.id %>.png" alt="<%= foundPokemon.nom %> img">
        <div id="detail-pokemon_infos">
            <h2 class="h3 detail-pokemon_idname">#<%= foundPokemon.id %> <%= foundPokemon.nom %></h2>
            <% for (const type of types) { %> 
                <a href="/pagetypechoice/<%= type.id %>" class="button_pokemon-type <%=type.name.toLowerCase() %>"><%= type.name %></a>
            <% } %>
            <h3 class="h5 detail-pokemon_statistiques">Statistiques </h3>
            <div id="stats_and_sidebars">
                    <div class="info_stat">
                        <p class="detail-pokemon_stats stats-names">PV</p>
                        <p class="detail-pokemon_stats stats-values"><%= foundPokemon.pv %></p>
                        <div class="capacitys_bars">
                            <div class="stats_bars" style="width: <%= foundPokemon.pv/2.55 %>%""></div>
                        </div>
                    </div>
                    <div class="info_stat">
                        <p class="detail-pokemon_stats stats-names">Attaque</p>
                        <p class="detail-pokemon_stats stats-values"><%= foundPokemon.attaque %></p>
                        <div class="capacitys_bars">
                            <div class="stats_bars" style="width: <%= foundPokemon.attaque/2.55 %>%;""></div>
                        </div>
                    </div>
                    <div class="info_stat">
                        <p class="detail-pokemon_stats stats-names">Defense</p>
                        <p class="detail-pokemon_stats stats-values"><%= foundPokemon.defense %></p>
                        <div class="capacitys_bars">
                            <div class="stats_bars" style="width: <%= foundPokemon.defense/2.55 %>%;""></div>
                        </div>
                    </div>
                    <div class="info_stat">
                        <p class="detail-pokemon_stats stats-names">Attaque spé</p>
                        <p class="detail-pokemon_stats stats-values"><%= foundPokemon.attaque_spe %></p>
                        <div class="capacitys_bars">
                            <div class="stats_bars" style="width: <%= foundPokemon.attaque_spe/2.55 %>%;""></div>
                        </div>
                    </div>
                    <div class="info_stat">
                        <p class="detail-pokemon_stats stats-names">Défense spé</p>
                        <p class="detail-pokemon_stats stats-values"><%= foundPokemon.defense_spe %></p>
                        <div class="capacitys_bars">
                            <div class="stats_bars" style="width: <%= foundPokemon.defense_spe/2.55 %>%;""></div>
                        </div>
                    </div>
                    <div class="info_stat">
                        <p class="detail-pokemon_stats stats-names">Vitesse</p>
                        <p class="detail-pokemon_stats stats-values"><%= foundPokemon.vitesse %></p>
                        <div class="capacitys_bars">
                            <div class="stats_bars" style="width: <%= foundPokemon.vitesse/2.55 %>%;""></div>
                        </div>
                    </div>
                    
            </div>
        </div>

    </div>
<%- include('./partials/footer') %>