<%- include('./partials/header') %>
    <div class="pokemon-case">
        <% for (const pokemon of allPokemon) { %>
            <div class="pokemons">
            <a href="/detailpokemon/<%= pokemon.id %>">
                <img class="pokemons-img" src="/img/<%= pokemon.id %>.png" alt="pokemons img">
                <h4 class="h5">#<%= pokemon.id %> <%= pokemon.nom %></h4>
            </a>
            <a title="Ajouter au deck" href="/deck/add/<%= pokemon.id %>">[ + ]</a>
            <a title="Supprimer du deck" href="/deck/remove/<%=pokemon.id %>">[ - ]</a>
            </div>
        <% } %>

    </div>
<%- include('./partials/footer') %>